.office_mainBearer
{
    width: 250px;
    height: 300px;
    border: #ff00ff 0px solid;
    text-align: center;
    float: left;
    padding: 20px;
}

.office_mainBearer div
{
    margin: 10px;
}

.office_mainBearerPosition
{
    display: block;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.office_mainBearerImage
{
    display: block;
    text-align:center;
}

.office_mainBearerImage img
{ height: 150px;
    overflow: hidden;
}

.office_mainBearerDetailBox
{
    margin: auto !important;
    width: 160px;
    max-width: 200px;
}


.office_mainBearerFullName
{
    display: block;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}


.office_mainBearerTPSince
{
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}


.office_mainBearerEmail
{
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}


.players_playerTable
{
    display: block;
    margin: 20px;
    padding: 10px;
    width: 650px;
    min-width: 300px;
    overflow: hidden;
}

.players_playerTitleRow
{
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    font-family: Arial;
    font-size: 14px;
    border-left: indigo 1px solid;
    border-top: indigo 1px solid;
}

.players_playerTitleRow div
{
    display: inline;
    float: left;
    overflow: hidden;
    border-right: indigo 1px solid;
    border-bottom: indigo 1px solid;
    padding: 5px;
}

.tableTitle
{
    font-weight: bold;
}


.players_playerRow
{
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    font-family: Arial;
    font-size: 14px;
    border-left: indigo 1px solid;
}

.players_playerRow div
{
    display: inline;
    float: left;
    overflow: hidden;
    height: 13px;
    border-right: indigo 1px solid;
    border-bottom: indigo 1px solid;
    padding: 5px;
}

.players_fullname
{
    width: 150px;
}

.players_gender
{
    width: 60px;
}

.players_age
{
    width: 40px;
}

.players_level
{
    width: 120px;
}

.players_accolades
{
    width: 225px;
}

